<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos - Nelson Eletro</title>
    <link rel="stylesheet" href="/style.css">
    <script src="js/script.js"></script>
</head>

<body>




    <li> <%= ProdutoEncontradoPorId.nome %> </li>
    <li> <%= ProdutoEncontradoPorId.categoria %> </li>
    <li> <%= ProdutoEncontradoPorId.descrição %> </li>
    <li> <%= ProdutoEncontradoPorId.precoDe %> </li>
    <li> <%= ProdutoEncontradoPorId.precoPor %> </li>



        
    <footer id="rodape">
        <p id="formas_pagamento"><b>Formas de Pagamento:</b></p>
        <img src="/formasdepagamento.png" alt="Formas de pagamento">
        <p>&copy; Nelson Eletro</p>
    </footer>
</body>

</html>